<div class="container">
  <h1 class="d-flex justify-content-center">Photo Gallery</h1>
      <ul class="nav nav-fill nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="fill-tab-0" data-bs-toggle="tab" href="#fill-tabpanel-0" role="tab" aria-controls="fill-tabpanel-0" aria-selected="true"> <b>PHOTO GALLERY</b> </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="fill-tab-1" data-bs-toggle="tab" href="#fill-tabpanel-1" role="tab" aria-controls="fill-tabpanel-1" aria-selected="false"> <b>ASIAN CHAMPIONSHIP</b> </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="fill-tab-2" data-bs-toggle="tab" href="#fill-tabpanel-2" role="tab" aria-controls="fill-tabpanel-2" aria-selected="false"> <b>19TH ASIAN GAMES</b> </a>
          </li>
      </ul>
      <div class="tab-content pt-5" id="tab-content">
        <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
            <!-- images row one -->
            <div class="d-block">
              <div class="row d-block">
                <div>
                  <a href="https://static.pexels.com/photos/111159/pexels-photo-111159-large.jpeg" target="_blank">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <img src="https://static.pexels.com/photos/111159/pexels-photo-111159-large.jpeg" alt="Green coffee cup and saucer filled with a latte">
                          <div class="caption">
                            <h3>Coffee is awesome.</h3>
                            <p>I really really enjoy a nice cup of joe.</p>
                          </div>
                        </div>
                    </div>
                  </a>
                  <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/MIFDXUR2VY.jpg" target="_blank">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/MIFDXUR2VY.jpg" alt="Various colored umbrellas drifting into the afternoon sky">
                            <div class="caption umbrellas">
                                <h3>Runaway umbrellas.</h3>
                                <p>Umbrellas keep us dry from rain.</p>
                            </div>
                        </div>
                      </div>
                  </a>
                  <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg" target="_blank">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg" alt="Cup of coffee sitting next to Macbook on desk">
                            <div class="caption code">
                              <h3>Code and coffee.</h3>
                              <p>I'm drinking coffee as I code this.</p>
                            </div>
                        </div>
                      </div>
                  </a>
                  <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KGSTJH2CB7.jpg" target="_blank">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <div class="thumbnail">
                              <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KGSTJH2CB7.jpg" alt="Satellite view of Earth">
                              <div class="caption canvas">
                                <h3>NASA.</h3>
                                <p>Thanks for the photo.</p>
                              </div>
                          </div>
                      </div>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="tab-pane" id="fill-tabpanel-1" role="tabpanel" aria-labelledby="fill-tab-1">
          <div class="d-block">
            <!-- images row two  -->    
            <div class="row d-block">
              <div>
                <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/I042LQ5O8H.jpg" target="_blank">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/I042LQ5O8H.jpg" alt="Cow standing in field">
                        <div class="caption cow">
                          <h3>Aw yeah.</h3>
                          <p>This cow is a boss.</p>
                        </div>
                    </div>
                  </div>
                </a>
          
                <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/37O88WH3DD.jpg" target="_blank"> 
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="thumbnail">
                          <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/37O88WH3DD.jpg" alt="Person using a cup to collect water from river">
                          <div class="caption beer">
                            <h3>This looks delicious.</h3>
                            <p>Really delicious.</p>
                          </div>
                      </div>
                    </div>
                </a>
          
                <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TQ44FVSM3Y.jpg" target="_blank">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TQ44FVSM3Y.jpg" alt="Small Italian coupe">
                      <div class="caption dog">
                          <h3>European cars.</h3>
                          <p>Are much smaller than ours.</p>
                      </div>
                    </div>
                  </div>
                </a>
              
                <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/643FE96E84.jpg" target="_blank">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="thumbnail">
                        <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/643FE96E84.jpg" alt="Green bicycle resting on old shed">
                        <div class="caption bike">
                            <h3>Vintage bikes.</h3>
                            <p>Are awesome.</p>
                        </div>
                      </div>
                  </div>
                </a>      
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="fill-tabpanel-2" role="tabpanel" aria-labelledby="fill-tab-2">
            <!-- images row one -->
            <div class="d-block">
              <div class="row d-block">
                  <div>
                    <a href="https://static.pexels.com/photos/111159/pexels-photo-111159-large.jpeg" target="_blank">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <div class="thumbnail">
                            <img src="https://static.pexels.com/photos/111159/pexels-photo-111159-large.jpeg" alt="Green coffee cup and saucer filled with a latte">
                            <div class="caption">
                              <h3>Coffee is awesome.</h3>
                              <p>I really really enjoy a nice cup of joe.</p>
                            </div>
                          </div>
                      </div>
                    </a>
                    <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/MIFDXUR2VY.jpg" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                          <div class="thumbnail">
                              <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/MIFDXUR2VY.jpg" alt="Various colored umbrellas drifting into the afternoon sky">
                              <div class="caption umbrellas">
                                  <h3>Runaway umbrellas.</h3>
                                  <p>Umbrellas keep us dry from rain.</p>
                              </div>
                          </div>
                        </div>
                    </a>
                    <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                          <div class="thumbnail">
                              <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg" alt="Cup of coffee sitting next to Macbook on desk">
                              <div class="caption code">
                                <h3>Code and coffee.</h3>
                                <p>I'm drinking coffee as I code this.</p>
                              </div>
                          </div>
                        </div>
                    </a>
                    <a href="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KGSTJH2CB7.jpg" target="_blank">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KGSTJH2CB7.jpg" alt="Satellite view of Earth">
                                <div class="caption canvas">
                                  <h3>NASA.</h3>
                                  <p>Thanks for the photo.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
              </div>
            </div>
        </div>
      </div>
</div>
