<div class="container px-0">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="https://www.indiankabaddi.org/images/banners/banner_live_new.jpg" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.indiankabaddi.org/images/banners/banner5_live.jpg" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.indiankabaddi.org/images/banners/kabaddi-banner-last.jpg" class="d-block w-100 img-fluid" alt="..." style="object-fit: cover; height: 400px !important;">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12 col-sm-12 pull-right main-content col-xs-12"> <br>
                <br>
                <div style="text-align: center; color: red; font-weight: bolder;" id="election">
                        
                        <h2><img src="../../assets/new.gif" alt="new">Amateur Kabaddi Federation of India Election December 2023</h2>
                </div>
                <!-- <div style="text-align: center; ">
                        <h2>Amateur Kabaddi Federation of India</h2>
                        <h2 style="font-size: 20px;">(The National Sports Federation of Kabaddi)</h2>
                </div> -->
                <p style="text-align: center; "><br>
                        Affiliated to <a href="https://worldkabaddi.org/" target="_blank">World Kabaddi Federation</a>, <a href="https://asiankabaddi.org" target="_blank">Asian Kabaddi Federation</a> and <a href="https://www.olympic.ind.in/national_sports_federations.html" target="_blank">Indian Olympic Association</a> Recognized by <a href="https://yas.nic.in/writereaddata/mainlinkfile/File1004.pdf" target="_blank">Ministry of Youth Affairs &amp; Sports Government of India</a></p>
                <table class="table table-bordered table-striped" style="margin-top: 30px; text-align: left;  letter-spacing: 8;">
                        <tbody>
                        <tr>
                        <th scope="row">
                                        <a href="https://kabaddiikf.com/election_dec2023/Notification_RO_09_12_2023.pdf" target="_blank" title="Notice_WS">
                                                <span class="glyphicon glyphicon-chevron-right"></span> Notification of Election by RO
                                        </a>
                                </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                Format for Nomination form [Form-2] 
                                <a href="https://kabaddiikf.com/election_dec2023/Form-2_Nominationform.docx" target="_blank">Click Here for Word Format</a> : 
                                <a href="https://kabaddiikf.com/election_dec2023/Form-2_Nominationform.pdf" target="_blank">Click Here for PDF Format</a>
                                </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="#">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                </a> Format for Withdrawal Form [Form-5]
                                                        <a href="https://kabaddiikf.com/election_dec2023/Form-5_withdrawalform.docx" target="_blank">Click Here for Word Format</a> : 
                                                        <a href="https://kabaddiikf.com/election_dec2023/Form-5_withdrawalform.pdf" target="_blank">Click Here for PDF Format</a>
        
                                </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-1-electoral_college_10DEC2023.pdf" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span> Electoral College [Form-1]  
                                </a>
                        </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-3.pdf" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span> List of Nominated Candidates [Form-3]
                                </a>
                        </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-4_List_of_validly_Nominated_Candidates.jpg" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span> List of Validly Nominated Candidates [Form - 4]
                                </a>
                        </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-1-electoral_college_16DEC2023_Amended.pdf" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        Amended Electoral College [Form-1]
                                </a>
                        </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-6_List_of_Contesting_Candidates_Dec_2023.jpg" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span> List of Contesting Candidates Candidates [Form - 6]
                                </a>
                        </th>
                        </tr>
                        <tr>
                        <th scope="row">
                                <a href="https://kabaddiikf.com/election_dec2023/Form-15.jpg" target="_blank" title="Notice_WS">
                                        <span class="glyphicon glyphicon-chevron-right"></span> 
                                        Declaration of Result [Form - 15]
                                </a>
                        </th>
                        </tr>
                        
                        </tbody>
                </table>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
        </section>
    </div>
</div>

